.flexIMGround {
  border-radius: 100px;
}

.flexIMGtext {
  line-height: 0.8em;
  padding-bottom: 2em;
}

.flex3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.flex3 p {
  font-size: 12pt;
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex4 {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: 1em;
  gap: 2em;
}

.grid1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2em;
  padding-bottom: 2em;
}

.grid2_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding-bottom: 2em;
}

.SeMereBTN {
  background-color: rgba(232, 79, 67, 1);
  padding: 25px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.SeMereBTN:hover {
  transition: ease-in-out 0.2s;
  filter: brightness(90%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.kortIMG {
  width: 100%;
}

@media (max-width: 750px) {
  main {
    margin-right: 1em;
    margin-left: 1em;
  }
  .grid2_1 {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 2em;
  }

  .SeMereBTN {
    margin-bottom: 2em;
  }

  .flex3 {
    flex-direction: column;
  }

  .colorBG {
    margin-top: 1em;
  }

  .flex4 {
    flex-direction: column;
  }
}
