.flexIMGround {
  border-radius: 100px;
}

.flexIMGtext {
  line-height: 0.8em;
  padding-bottom: 2em;
}

.flex3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.flex3 p {
  font-size: 12pt;
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex4 {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  padding-bottom: 1em;
  gap: 2em;
}

.btndiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 2em;
  padding-bottom: 2em;
}

.grid2_1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding-bottom: 2em;
}

.SeMereBTN {
  background-color: rgba(232, 79, 67, 1);
  padding: 25px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.SeMereBTN:hover {
  transition: ease-in-out 0.2s;
  filter: brightness(90%);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.kortIMG {
  width: 100%;
}

label {
  font-family: Helvetica small;
}

#navn {
  width: 100%;
  border: solid 2px rgba(38, 50, 71, 1);
  border-radius: 5px;
  margin-bottom: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Helvetica small;
  font-size: 11pt;
}

#Skole-mail {
  width: 100%;
  border: solid 2px rgba(38, 50, 71, 1);
  border-radius: 5px;
  margin-bottom: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Helvetica small;
  font-size: 11pt;
}

#besked {
  width: 100%;
  resize: none;
  border: solid 2px rgba(38, 50, 71, 1);
  border-radius: 5px;
  margin-bottom: 1em;
  font-family: Helvetica small;
  font-size: 11pt;
}

#submit {
  padding: 9px;
  font-family: Helvetica small;
  font-size: 11pt;
  color: rgb(255, 255, 255);
  border: solid 2px rgba(232, 79, 67, 1);
  border-radius: 5px;
  margin-bottom: 1em;
  background-color: rgba(232, 79, 67, 1);
  cursor: pointer;
}

.brugerinput {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 750px) {
  .grid2_1 {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 2em;
  }

  .SeMereBTN {
    margin-bottom: 2em;
  }

  .flex3 {
    flex-direction: column;
  }

  .colorBG {
    margin-top: 1em;
  }

  .flex4 {
    flex-direction: column;
  }
}
