@font-face {
  font-family: Helvetica;
  src: url(../fonts/Helvetica\ Neue\ LT\ Std\ 77\ Bold\ Condensed.woff2);
}

@font-face {
  font-family: Helvetica small;
  src: url(../fonts/Helvetica\ Neue\ LT\ Std\ 55\ Roman.woff2);
}

h1 {
  font-family: Helvetica;
  font-size: 40pt;
}

h2 {
  font-family: Helvetica;
  font-size: 23pt;
  font-weight: 300;
}

h3 {
  font-family: Helvetica;
  font-size: 10pt;
}

h4 {
  font-family: Helvetica;
  font-size: 10pt;
}

p {
  font-family: Helvetica small;
  font-size: 13pt;
}

body {
  background-color: rgba(217, 217, 217, 1);
  color: rgba(38, 50, 71, 1);
}

a {
  font-family: Helvetica;
  font-size: 13pt;
}

main {
  margin-right: 18em;
  margin-left: 18em;
  line-height: 1.8em;
}

li {
  list-style: none;
}

footer {
  background-color: rgba(38, 50, 71, 1);
}

footer p {
  font-size: 11pt;
}

footer h3 {
  font-size: 16pt;
  letter-spacing: 1px;
}

footer h4 {
  font-size: 13pt;
}

.footerGRID {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  padding: 5em;
  margin-right: 18em;
  margin-left: 18em;
  color: white;
}

footer li {
  list-style: none;
  line-height: 1.7em;
  font-family: Helvetica small;
  font-size: 11pt;
}

.colorBG {
  background-color: rgba(7, 98, 200, 1);
  padding: 1em;
  color: white;
}

header {
  background-color: rgba(38, 50, 71, 1);
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.EN_container {
  background-color: white;
  color: rgba(232, 79, 67, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lup_container {
  background-color: rgba(232, 79, 67, 1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  border: none;
  background-color: rgba(232, 79, 67, 1);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.magnifier {
  width: 15px;
  height: 15px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 10px;
}

.magnifier::after {
  content: "";
  width: 11px;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 15px;
  left: 12px;
  transform: rotate(45deg);
  transform-origin: center;
}

/* 
<div class="header_container">
        <div class="EN_container"></div>
        <div class="lup_container"></div>
      </div>
      */

.logo {
  max-width: 200px;
  margin: auto;
}

.off-screen-menu {
  text-align: center;
  text-decoration: none;
}

@media (max-width: 850px) {
  .off-screen-menu {
    background-color: rgba(38, 50, 71, 1);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.3s ease;
    margin-top: 1em;
  }

  .off-screen-menu a {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 23px;
    line-height: 2em;
  }

  .off-screen-menu a:hover {
    color: #ffffff;
  }

  .off-screen-menu.active {
    right: 0;
  }

  nav {
    padding: 1em;
    display: flex;
    background-color: rgba(38, 50, 71, 1);
  }

  .ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
  }

  .ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
  }

  .ham-menu span:nth-child(1) {
    top: 80%;
  }
  ¨ .ham-menu span:nth-child(2) {
    top: 100%;
  }

  .ham-menu span:nth-child(3) {
    top: 110%;
  }

  .ham-menu.active span:nth-child(1) {
    top: 80%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .ham-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active span:nth-child(3) {
    top: 80%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  main {
    margin-right: 1em;
    margin-left: 1em;
  }
}
